//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.05
//Part Number: GW1NR-UV9QN88PC6/I5
//Device: GW1NR-9
//Created Time: Tue 05 16 11:15:36 2023

IO_LOC "TMDS_D_P[0]" 80,79;
IO_PORT "TMDS_D_P[0]" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;
IO_LOC "TMDS_D_P[1]" 82,81;
IO_PORT "TMDS_D_P[1]" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;
IO_LOC "TMDS_D_P[2]" 84,83;
IO_PORT "TMDS_D_P[2]" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;
IO_LOC "TMDS_CLK_P" 77,76;
IO_PORT "TMDS_CLK_P" IO_TYPE=LVCMOS18D PULL_MODE=NONE DRIVE=8;
//IO_LOC "TMDS_CLK_P" 77;
//IO_LOC "TMDS_CLK_N" 76;


IO_LOC "IO[18]" 75;
IO_PORT "IO[18]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[17]" 74;
IO_PORT "IO[17]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[16]" 73;
IO_PORT "IO[16]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[15]" 72;
IO_PORT "IO[15]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[14]" 71;
IO_PORT "IO[14]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[13]" 70;
IO_PORT "IO[13]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[12]" 69;
IO_PORT "IO[12]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[11]" 68;
IO_PORT "IO[11]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[10]" 63;
IO_PORT "IO[10]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[9]" 62;
IO_PORT "IO[9]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[8]" 61;
IO_PORT "IO[8]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[7]" 60;
IO_PORT "IO[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[6]" 59;
IO_PORT "IO[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[5]" 57;
IO_PORT "IO[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[4]" 56;
IO_PORT "IO[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[3]" 55;
IO_PORT "IO[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[2]" 54;
IO_PORT "IO[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[1]" 53;
IO_PORT "IO[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "IO[0]" 52;
IO_PORT "IO[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[7]" 40;
IO_PORT "LED[7]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[6]" 41;
IO_PORT "LED[6]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[5]" 42;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[4]" 47;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[3]" 48;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[2]" 49;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[1]" 50;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "LED[0]" 51;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8;
IO_LOC "ADC_CLK" 31;
IO_PORT "ADC_CLK" PULL_MODE=UP DRIVE=8;
IO_LOC "FTB3" 9;
IO_PORT "FTB3" PULL_MODE=UP DRIVE=8;
IO_LOC "FTB1" 11;
IO_PORT "FTB1" PULL_MODE=UP DRIVE=8;
IO_LOC "FTB2" 10;
IO_PORT "FTB2" PULL_MODE=UP;
IO_LOC "FTB0" 13;
IO_PORT "FTB0" PULL_MODE=UP;
IO_LOC "KEY1" 86;
IO_PORT "KEY1" PULL_MODE=UP;
IO_LOC "KEY0" 85;
IO_PORT "KEY0" PULL_MODE=UP;
IO_LOC "CLK" 30;
IO_PORT "CLK" PULL_MODE=UP;
IO_LOC "FTC[7]" 14;
IO_PORT "FTC[7]" PULL_MODE=UP;
IO_LOC "FTD[6]" 27;
IO_PORT "FTD[6]" PULL_MODE=UP;
IO_LOC "FTD[7]" 26;
IO_PORT "FTD[7]" PULL_MODE=UP;
IO_LOC "FTC[6]" 15;
IO_PORT "FTC[6]" PULL_MODE=UP;
IO_LOC "FTC[3]" 18;
IO_PORT "FTC[3]" PULL_MODE=UP;
IO_LOC "FTC[0]" 25;
IO_PORT "FTC[0]" PULL_MODE=UP;
IO_LOC "FTC[4]" 17;
IO_PORT "FTC[4]" PULL_MODE=UP;
IO_LOC "FTD[5]" 28;
IO_PORT "FTD[5]" PULL_MODE=UP;
IO_LOC "FTC[5]" 16;
IO_PORT "FTC[5]" PULL_MODE=UP;
IO_LOC "FTC[2]" 19;
IO_PORT "FTC[2]" PULL_MODE=UP;
IO_LOC "FTC[1]" 20;
IO_PORT "FTC[1]" PULL_MODE=UP;
IO_LOC "ADC_D[2]" 37;
IO_PORT "ADC_D[2]" PULL_MODE=UP;
IO_LOC "ADC_D[5]" 34;
IO_PORT "ADC_D[5]" PULL_MODE=UP;
IO_LOC "ADC_D[4]" 35;
IO_PORT "ADC_D[4]" PULL_MODE=UP;
IO_LOC "ADC_D[1]" 38;
IO_PORT "ADC_D[1]" PULL_MODE=UP;
IO_LOC "ADC_D[0]" 39;
IO_PORT "ADC_D[0]" PULL_MODE=UP;
IO_LOC "FTD[4]" 29;
IO_PORT "FTD[4]" PULL_MODE=UP;
IO_LOC "FTD[3]" 3;
IO_PORT "FTD[3]" PULL_MODE=UP;
IO_LOC "FTD[0]" 87;
IO_PORT "FTD[0]" PULL_MODE=UP;
IO_LOC "FTD[2]" 88;
IO_PORT "FTD[2]" PULL_MODE=UP;
IO_LOC "FTD[1]" 4;
IO_PORT "FTD[1]" PULL_MODE=UP;
IO_LOC "ADC_D[7]" 32;
IO_PORT "ADC_D[7]" PULL_MODE=UP;
IO_LOC "ADC_D[6]" 33;
IO_PORT "ADC_D[6]" PULL_MODE=UP;
IO_LOC "ADC_D[3]" 36;
IO_PORT "ADC_D[3]" PULL_MODE=UP;
